# SPDX-FileCopyrightText: Copyright (c) 2015-2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: grunt
'on':
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
jobs:
  grunt:
    timeout-minutes: 15
    strategy:
      matrix:
        os: [windows-2022, ubuntu-24.04, macos-15]
        java: [17]
        node: [16]
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.14.2"
      - uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - run: pip install --upgrade setuptools
      - run: npm install
      - run: npm install --force -g grunt-cli
      - run: grunt
