# SPDX-FileCopyrightText: Copyright (c) 2015-2025 Yegor Bugayenko
# SPDX-License-Identifier: MIT
---
# yamllint disable rule:line-length
name: up
'on':
  push:
jobs:
  up:
    timeout-minutes: 15
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - run: |-
          git fetch --tags --force && \
          latest=$(git tag --sort=creatordate | tail -1) && \
          sed -E -i "s/tacit-css@[0-9.]+/tacit-css@${latest}/g" README.md  && \
          sri=$(curl -fsSL --compressed "https://cdn.jsdelivr.net/npm/tacit-css@${latest}/dist/tacit-css.min.css" \
              | openssl dgst -sha384 -binary | openssl base64 -A)
          sri_esc=$(printf '%s' "$sri" | sed 's/[&]/\\&/g') && \
          sed -E -i '/cdn\.jsdelivr\.net\/npm\/tacit-css@[0-9]+\.[0-9]+\.[0-9]+\/dist\/tacit-css\.min\.css/{
            s/[[:space:]]+integrity="[^"]*"//g; s/[[:space:]]+crossorigin="[^"]*"//g;
            s|(tacit-css\.min\.css"[^>/]*)(\s*/?>)|\1 integrity="sha384-'"$sri_esc"'" crossorigin="anonymous"\2|;
          }' README.md
      - uses: peter-evans/create-pull-request@v7
        with:
          sign-commits: true
          commit-message: 'new version in README'
          delete-branch: true
          title: 'New version in README'
          assignees: yegor256
          branch: up
          base: master
